workflows/Create weather-aware morning alarms with Spotify, Gemini AI and OpenMeteo-11153/create_weather-aware_morning_alarms_with_spotify_gemini_ai_and_openmeteo.json
{"name":"Wake Up with Led Zeppelin: Smart Weather DJ (Grouped)","nodes":[{"id":"sticky-setup","name":"Sticky Note Setup","type":"n8n-nodes-base.stickyNote","position":[-1520,-100],"parameters":{"color":7,"width":1250,"height":386,"content":"## 1. Context & Setup\nInitializes the workflow, fetches local weather data, and verifies the Spotify speaker is online."},"typeVersion":1},{"id":"sticky-music","name":"Sticky Note Music","type":"n8n-nodes-base.stickyNote","position":[-400,-140],"parameters":{"color":7,"width":600,"height":260,"content":"## 2. Music Selection\nRetrieves top tracks from Led Zeppelin, selects one at random, and starts playback."},"typeVersion":1},{"id":"sticky-ai","name":"Sticky Note AI","type":"n8n-nodes-base.stickyNote","position":[240,-140],"parameters":{"color":7,"width":680,"height":260,"content":"## 3. AI Persona & Log\nGemini creates a DJ intro linking weather to the song. Logs history and sends a summary email."},"typeVersion":1},{"id":"2458b29c-a88e-4794-86e9-29ceceec51a0","name":"Sticky Note Main","type":"n8n-nodes-base.stickyNote","position":[-2100,-100],"parameters":{"width":500,"height":600,"content":"# Wake Up with Led Zeppelin: Smart Weather DJ 🎸☔️☀️\n\n## Overview\n**Turn your alarm into a smart morning briefing.**\nThis workflow checks the local weather, picks a Led Zeppelin track, and uses **Google Gemini** to generate a DJ persona that comments on **both the song and the weather**.\n\n## How it works\n1. **Context:** Checks Spotify device & fetches weather (OpenMeteo).\n2. **Music:** Plays a random Led Zeppelin track.\n3. **AI DJ:** Gemini generates a greeting linking the song's vibe to the weather.\n4. **Notify:** Logs to Sheets and sends an email with album art.\n\n## Setup Steps\n1. **Credentials:** Connect Spotify, Gemini, Sheets, Gmail.\n2. **Config:** Open **\"Workflow Configuration\"** to set location and device name.\n3. **Sheets:** Create headers: `date`, `time`, `weather`, `temperature`, `song`, `artist`.\n\n## Requirements\n- Spotify Premium\n- Google Gemini API Key\n- Google Sheets & Gmail"},"typeVersion":1},{"id":"76ce3397-ad6c-4e4f-a975-dc5c2fa1f682","name":"Schedule Trigger (7AM)","type":"n8n-nodes-base.scheduleTrigger","position":[-1472,64],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"typeVersion":1.2},{"id":"82122947-7dca-4c69-844e-9a4fee4de304","name":"Workflow Configuration","type":"n8n-nodes-base.set","position":[-1248,64],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"targetDeviceName","type":"string","value":"2F"},{"id":"id-2","name":"latitude","type":"string","value":"35.6895"},{"id":"id-3","name":"longitude","type":"string","value":"139.6917"},{"id":"id-4","name":"sheetId","type":"string","value":"1WOrmZA7kOo9wqTTAv5wyjZ6yY_QbZfhLDe7zS_JdojE"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"e46e8be9-9c8c-49b4-ac6d-80e8ad0230f4","name":"Get Spotify Devices","type":"n8n-nodes-base.spotify","position":[-1024,-32],"parameters":{"operation":"getDevices"},"credentials":{"spotifyOAuth2Api":{"id":"credential-id","name":"spotifyOAuth2Api Credential"}},"typeVersion":1},{"id":"63d0bd7a-3666-4778-8de9-911f058c194f","name":"Get Weather (OpenMeteo)","type":"n8n-nodes-base.httpRequest","position":[-1024,176],"parameters":{"url":"={{ 'https://api.open-meteo.com/v1/forecast?latitude=' + $('Workflow Configuration').first().json.latitude + '&longitude=' + $('Workflow Configuration').first().json.longitude + '&current_weather=true' }}","options":{}},"typeVersion":4.3},{"id":"cf488331-cb63-425b-881d-0be01a5ed520","name":"Find Target Device","type":"n8n-nodes-base.code","position":[-800,-32],"parameters":{"jsCode":"const configItem = $('Workflow Configuration').first();\nconst targetName = configItem ? configItem.json.targetDeviceName : '2F';\n\nconst items = $input.all();\n\nlet targetDevice = null;\nlet targetId = null;\n\nif (items.length > 0 && items[0] && items[0].json) {\n  const data = items[0].json;\n  if (data.devices && Array.isArray(data.devices)) {\n    targetDevice = data.devices.find(d => d.name === targetName);\n  } \n  else if (Array.isArray(data)) {\n    targetDevice = data.find(d => d.name === targetName);\n  }\n}\n\nif (targetDevice) {\n  targetId = targetDevice.id;\n}\n\nreturn [{\n  json: {\n    target_device_id: targetId,\n    device_found: !!targetDevice,\n    target_name: targetName\n  }\n}];"},"typeVersion":2},{"id":"329310fa-6db5-44b2-9b45-093b98ddeeb6","name":"Device Found?","type":"n8n-nodes-base.if","position":[-592,-32],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"id-1","operator":{"type":"boolean","operation":"true"},"leftValue":"={{ $json.device_found }}","rightValue":"true"}]}},"typeVersion":2.2},{"id":"8234c0ef-1075-4101-8238-42794d3680a9","name":"Get Artist Tracks","type":"n8n-nodes-base.spotify","position":[-360,-64],"parameters":{"id":"36QJpDe2go2KgaRleHCDTp","country":"JP","resource":"artist","operation":"getTopTracks"},"credentials":{"spotifyOAuth2Api":{"id":"credential-id","name":"spotifyOAuth2Api Credential"}},"typeVersion":1},{"id":"bdd0f126-fdb6-4463-8b31-9fab4b7fb9bb","name":"Pick Random Track","type":"n8n-nodes-base.code","position":[-144,-64],"parameters":{"jsCode":"const items = $input.all();\nif (items.length === 0) return [];\n\nconst randomIndex = Math.floor(Math.random() * items.length);\nconst track = items[randomIndex].json;\n\nreturn {\n  json: {\n    track_uri: track.uri,\n    track_name: track.name,\n    artist_name: track.artists[0].name,\n    album_image: track.album.images[0].url,\n    device_id: $('Find Target Device').first().json.target_device_id\n  }\n};"},"typeVersion":2},{"id":"879a60b0-a794-4e80-a940-33c355b5bb55","name":"Start Playback","type":"n8n-nodes-base.spotify","position":[80,-64],"parameters":{"operation":"start"},"credentials":{"spotifyOAuth2Api":{"id":"credential-id","name":"spotifyOAuth2Api Credential"}},"typeVersion":1},{"id":"1f348fb8-cbe8-4030-9f59-0a8d89b71159","name":"Message a model","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[288,-64],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"options":{},"messages":{"values":[{"content":"=You are a rock & roll DJ.\nThe song \"{{ $('Pick Random Track').first().json.track_name }}\" by {{ $('Pick Random Track').first().json.artist_name }} has just started playing as a morning alarm.\n\nWrite a short, high-energy, one-sentence morning greeting to the user inspired by this song's title or vibe. English only."}]}},"credentials":{"googlePalmApi":{"id":"credential-id","name":"googlePalmApi Credential"}},"typeVersion":1},{"id":"fb640f19-78a4-4113-bcea-b137f44049d2","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[576,-64],"parameters":{"columns":{"value":{"date":"={{ $now.format('yyyy-MM-dd') }}","song":"={{ $('Pick Random Track').first().json.track_name }}","time":"={{ $now.format('HH:mm') }}","artist":"={{ $('Pick Random Track').first().json.artist_name }}","weather":"={{ $('Get Weather (OpenMeteo)').first().json.current_weather.weathercode }}","temperature":"={{ $('Get Weather (OpenMeteo)').first().json.current_weather.temperature }}"},"mappingMode":"defineBelow"},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"name","value":"History"},"documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.sheetId }}"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"googleSheetsOAuth2Api Credential"}},"typeVersion":4.7},{"id":"0d4d67ec-366f-4968-81de-99873f578266","name":"Send DJ Email","type":"n8n-nodes-base.gmail","position":[784,-64],"webhookId":"3622a78a-0be7-4454-ac17-9a086fedfab0","parameters":{"sendTo":"user@example.com","message":"=<h3>Good Morning! ☀️</h3>\n<p><strong>{{ $('Message a model').first().json.text }}</strong></p>\n<hr>\n<p>Temp: {{ $('Get Weather (OpenMeteo)').first().json.current_weather.temperature }}°C</p>\n<img src=\"{{ $('Pick Random Track').first().json.album_image }}\" width=\"300\" style=\"border-radius:10px;\">\n<p>Now playing on your speaker.</p>","options":{},"subject":"=🎸 Now Playing: {{ $('Pick Random Track').first().json.track_name }}"},"credentials":{"gmailOAuth2":{"id":"credential-id","name":"gmailOAuth2 Credential"}},"typeVersion":2.1},{"id":"2bfac3c6-cf0a-4b07-af85-ceec3ae530a7","name":"Send Error Email","type":"n8n-nodes-base.gmail","position":[-360,180],"webhookId":"42de3544-cce9-4939-84ee-1970250ed83c","parameters":{"sendTo":"user@example.com","message":"Could not find target device. Please check Spotify.","options":{},"subject":"🚨 Alarm Failed: Spotify Device Not Found"},"credentials":{"gmailOAuth2":{"id":"credential-id","name":"gmailOAuth2 Credential"}},"typeVersion":2.1}],"pinData":{},"connections":{"Device Found?":{"main":[[{"node":"Get Artist Tracks","type":"main","index":0}],[{"node":"Send Error Email","type":"main","index":0}]]},"Start Playback":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0}]]},"Get Artist Tracks":{"main":[[{"node":"Pick Random Track","type":"main","index":0}]]},"Pick Random Track":{"main":[[{"node":"Start Playback","type":"main","index":0}]]},"Find Target Device":{"main":[[{"node":"Device Found?","type":"main","index":0}]]},"Get Spotify Devices":{"main":[[{"node":"Find Target Device","type":"main","index":0}]]},"Log to Google Sheets":{"main":[[{"node":"Send DJ Email","type":"main","index":0}]]},"Schedule Trigger (7AM)":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get Spotify Devices","type":"main","index":0},{"node":"Get Weather (OpenMeteo)","type":"main","index":0}]]},"Get Weather (OpenMeteo)":{"main":[[{"node":"Find Target Device","type":"main","index":0}]]}}}