workflows/Send package and visitor alerts with Slack, SMS, email, Google Sheets and Claude-12430/send_package_and_visitor_alerts_with_slack_sms_email_google_sheets_and_claude.json
{"id":"5VCeQeaeDd3MrMhw","meta":{"instanceId":"f6e8ad6763839b50a3ab3bea5512dc60976f81a6273178925f946fc7a00549a8"},"name":"Package and Visitor Arrival Notification System","tags":[],"nodes":[{"id":"d3b9b955-94b2-4e67-ba88-f559bb109242","name":"Package/Visitor Webhook","type":"n8n-nodes-base.webhook","position":[-1248,192],"webhookId":"60794f9e-8ff9-41bd-a749-8aabe9f372fa","parameters":{"path":"package-visitor-webhook","options":{},"httpMethod":"POST","responseMode":"lastNode"},"typeVersion":2.1},{"id":"98392a85-8fa1-4f32-bdd7-a746fbacd726","name":"Workflow Configuration","type":"n8n-nodes-base.set","position":[-1024,192],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"managementSlackChannel","type":"string","value":"<__PLACEHOLDER_VALUE__Slack channel ID for management notifications__>"},{"id":"id-2","name":"smsEnabled","type":"boolean","value":true},{"id":"id-3","name":"highUrgencyThreshold","type":"string","value":"perishable,high-value"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"2529d5c4-986c-48d3-8557-e3fe68257a81","name":"Normalize Data","type":"n8n-nodes-base.set","position":[-800,192],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"tenantName","type":"string","value":"={{ $json.body.tenant || $json.body.tenantName }}"},{"id":"id-2","name":"tenantEmail","type":"string","value":"={{ $json.body.tenantEmail || $json.body.email }}"},{"id":"id-3","name":"tenantPhone","type":"string","value":"={{ $json.body.tenantPhone || $json.body.phone }}"},{"id":"id-4","name":"building","type":"string","value":"={{ $json.body.building }}"},{"id":"id-5","name":"packageType","type":"string","value":"={{ $json.body.packageType || $json.body.type }}"},{"id":"id-6","name":"arrivalTime","type":"string","value":"={{ $json.body.arrivalTime || $json.body.timestamp || $now }}"},{"id":"id-7","name":"description","type":"string","value":"={{ $json.body.description || \"\" }}"},{"id":"id-8","name":"isVisitor","type":"boolean","value":"={{ $json.body.isVisitor || false }}"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"feeedd91-f655-48aa-a65e-dcbc0dada6b6","name":"Classify Urgency","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-576,192],"parameters":{"text":"=Package/Visitor Details:\n- Type: {{ $json.packageType }}\n- Description: {{ $json.description }}\n- Is Visitor: {{ $json.isVisitor }}\n- Arrival Time: {{ $json.arrivalTime }}","batching":{},"promptType":"define","hasOutputParser":true},"typeVersion":1.7},{"id":"10123958-608c-4e03-af3f-becd9c4b2b2d","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[-568,416],"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"typeVersion":1.3},{"id":"4b07a563-33d7-4dc1-8010-c93ac2c6a822","name":"Route by Urgency","type":"n8n-nodes-base.switch","position":[-224,192],"parameters":{"rules":{"values":[{"outputKey":"High Urgency","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.urgency }}","rightValue":"high"}]},"renameOutput":true},{"outputKey":"Regular","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.urgency }}","rightValue":"regular"}]},"renameOutput":true}]},"options":{}},"typeVersion":3.3},{"id":"8820a9c4-01ff-4958-9d85-43521731ae9e","name":"Email Tenant - High Urgency","type":"n8n-nodes-base.emailSend","position":[0,0],"webhookId":"c5233033-db5d-49a5-9875-e34755505e0a","parameters":{"html":"=<h2>Urgent {{ $json.isVisitor ? \"Visitor\" : \"Package\" }} Notification</h2>\n<p>Dear {{ $json.tenantName }},</p>\n<p>You have a <strong>high-priority {{ $json.isVisitor ? \"visitor\" : \"package\" }}</strong> waiting for you.</p>\n<h3>Details:</h3>\n<ul>\n<li><strong>Building:</strong> {{ $json.building }}</li>\n<li><strong>Type:</strong> {{ $json.packageType }}</li>\n<li><strong>Arrival Time:</strong> {{ $json.arrivalTime }}</li>\n<li><strong>Description:</strong> {{ $json.description }}</li>\n<li><strong>Urgency Reason:</strong> {{ $json.reason }}</li>\n</ul>\n<p>Please collect this {{ $json.isVisitor ? \"visitor\" : \"package\" }} as soon as possible.</p>\n<p>Thank you,<br>Property Management</p>","options":{},"subject":"=🚨 Urgent: {{ $json.isVisitor ? \"Visitor\" : \"Package\" }} Arrival at {{ $json.building }}","toEmail":"={{ $json.tenantEmail }}","fromEmail":"<__PLACEHOLDER_VALUE__Sender email address__>"},"typeVersion":2.1},{"id":"d1cb67bf-3ce6-4140-b9c9-aff0b2fba2f8","name":"Email Tenant - Regular","type":"n8n-nodes-base.emailSend","position":[224,336],"webhookId":"6a728135-5788-4013-adb3-eaa110196e2d","parameters":{"html":"=<h2>{{ $json.isVisitor ? \"Visitor\" : \"Package\" }} Arrival Notification</h2>\n<p>Dear {{ $json.tenantName }},</p>\n<p>You have a {{ $json.isVisitor ? \"visitor\" : \"package\" }} waiting for you at the front desk.</p>\n<h3>Details:</h3>\n<ul>\n<li><strong>Building:</strong> {{ $json.building }}</li>\n<li><strong>Type:</strong> {{ $json.packageType }}</li>\n<li><strong>Arrival Time:</strong> {{ $json.arrivalTime }}</li>\n<li><strong>Description:</strong> {{ $json.description }}</li>\n</ul>\n<p>You can collect it at your convenience during office hours.</p>\n<p>Thank you,<br>Property Management</p>","options":{},"subject":"={{ $json.isVisitor ? \"Visitor\" : \"Package\" }} Arrival Notification - {{ $json.building }}","toEmail":"={{ $json.tenantEmail }}","fromEmail":"<__PLACEHOLDER_VALUE__Sender email address__>"},"typeVersion":2.1},{"id":"3d5dab96-e3c9-4ac9-b0a5-419effd19ea5","name":"SMS Tenant - High Urgency","type":"n8n-nodes-base.sms77","position":[224,0],"parameters":{"to":"={{ $json.tenantPhone }}","message":"=URGENT: {{ $json.isVisitor ? \"Visitor\" : \"Package\" }} waiting at {{ $json.building }}. Type: {{ $json.packageType }}. Please collect ASAP. - Property Management","options":{}},"typeVersion":1},{"id":"15dc1035-5402-4576-9508-e492b8e5d9c5","name":"Notify Management","type":"n8n-nodes-base.slack","position":[0,192],"webhookId":"3e21fb56-6cd0-40d3-ba13-1bec2d34e872","parameters":{"text":"=:package: *{{ $json.isVisitor ? \"Visitor\" : \"Package\" }} Arrival - {{ $json.urgency === \"high\" ? \"HIGH URGENCY\" : \"Regular\" }}*\n\n*Tenant:* {{ $json.tenantName }}\n*Building:* {{ $json.building }}\n*Type:* {{ $json.packageType }}\n*Arrival:* {{ $json.arrivalTime }}\n*Description:* {{ $json.description }}\n*Urgency:* {{ $json.reason }}\n\nNotification sent to tenant via {{ $json.urgency === \"high\" ? \"email and SMS\" : \"email\" }}.","select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.managementSlackChannel }}"},"otherOptions":{}},"typeVersion":2.3},{"id":"8ec08336-fb70-4e1e-9632-2506bd064f84","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[672,168],"parameters":{"columns":{"value":{"Type":"={{ $json.packageType }}","Urgency":"={{ $json.urgency }}","Building":"={{ $json.building }}","Timestamp":"={{ $json.arrivalTime }}","Is Visitor":"={{ $json.isVisitor }}","Description":"={{ $json.description }}","Tenant Name":"={{ $json.tenantName }}","Notification Sent":"={{ $now }}"},"schema":[{"id":"Timestamp","required":false,"displayName":"Timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Tenant Name","required":false,"displayName":"Tenant Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Building","required":false,"displayName":"Building","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Type","required":false,"displayName":"Type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Is Visitor","required":false,"displayName":"Is Visitor","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Urgency","required":false,"displayName":"Urgency","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Description","required":false,"displayName":"Description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Notification Sent","required":false,"displayName":"Notification Sent","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Timestamp"]},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"name","value":"<__PLACEHOLDER_VALUE__Sheet name (e.g., Package Log)__>"},"documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Sheets document ID__>"}},"credentials":{"googleSheetsOAuth2Api":{"id":"5b6oIAuqcO9HRb2A","name":"Google Sheets account 3"}},"typeVersion":4.7},{"id":"c9fe66c9-da39-4943-a2a5-1ca8d2ed093d","name":"Merge Notification Branches","type":"n8n-nodes-base.merge","position":[448,168],"parameters":{"mode":"combine","options":{},"combineBy":"combineAll"},"typeVersion":3.2},{"id":"be6939f9-2b81-4809-a2fe-f9f7c00f885d","name":"Suggest Follow-up","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[896,168],"parameters":{"text":"=Package/Visitor: {{ $json.packageType }} for {{ $json.tenantName }} at {{ $json.building }}. Urgency: {{ $json.urgency }}. Arrival: {{ $json.arrivalTime }}. Current time: {{ $now }}","batching":{},"messages":{"messageValues":[{"message":"You are a property management assistant that suggests follow-up actions for unclaimed packages or missed visitors.\n\nAnalyze the package/visitor information and current time to determine if follow-up is needed:\n\n**Suggest follow-up if:**\n- High urgency items unclaimed for more than 2 hours\n- Regular items unclaimed for more than 24 hours\n- Visitors waiting for more than 30 minutes\n- Perishable items unclaimed for more than 1 hour\n\n**Follow-up suggestions may include:**\n- Send reminder notification to tenant\n- Call tenant directly\n- Contact emergency contact\n- Arrange for package refrigeration (perishables)\n- Reschedule visitor appointment\n- Return package to sender\n\nProvide a brief recommendation with reasoning, or state \"No follow-up needed\" if the timeframe is acceptable."}]},"promptType":"define"},"typeVersion":1.7},{"id":"f50923d8-5c23-4894-bd0f-03991235b509","name":"Urgency Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-440,416],"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"urgency\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"high\", \"regular\"],\n\t\t\t\"description\": \"The urgency level of the notification\"\n\t\t},\n\t\t\"reason\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Explanation for why this urgency level was assigned\"\n\t\t}\n\t},\n\t\"required\": [\"urgency\", \"reason\"]\n}"},"typeVersion":1.3},{"id":"d1cf9db0-1337-4ec1-825a-0ef1e79958d6","name":"Anthropic Chat Model 2","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[968,392],"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"typeVersion":1.3},{"id":"98a82e17-929a-4530-bfb7-fe1f214f3737","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1776,0],"parameters":{"width":432,"height":352,"content":"## Main\n\nThis workflow automatically tracks incoming packages and visitor arrivals, notifies tenants via email/SMS, alerts property managers via Slack, and logs everything for reporting.\n\n## Setup\n\n1. Connect your package/visitor system to Webhook trigger.\n2. Add credentials for Slack, Email, SMS, and AI.\n3. Customize AI classification prompts for package urgency.\n4. Test notification routing for tenants and management.\n5. Adjust logging and reporting as needed.\n"},"typeVersion":1},{"id":"82387b3e-0a35-480a-870f-8bdf203fd1f3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1296,-16],"parameters":{"color":7,"width":656,"height":848,"content":"## Webook Trigger, Configuration, Normalize Data"},"typeVersion":1},{"id":"35c7dd2b-62b2-4261-a7ad-767002155afc","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-624,-16],"parameters":{"color":7,"width":512,"height":848,"content":"## Urgency Classification"},"typeVersion":1},{"id":"9fe45df5-875e-42a0-9c5a-fcf593b679c6","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-96,-48],"parameters":{"color":7,"width":656,"height":848,"content":"## Communication"},"typeVersion":1},{"id":"ea603dbc-5b1c-4469-b0fd-967a5a1ebac4","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[576,-48],"parameters":{"color":7,"width":656,"height":848,"content":"## Log, Follow Up"},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"42f41eaa-ebd7-48ac-81fb-6dd28e8a2c9f","connections":{"Normalize Data":{"main":[[{"node":"Classify Urgency","type":"main","index":0}]]},"Classify Urgency":{"main":[[{"node":"Route by Urgency","type":"main","index":0}]]},"Route by Urgency":{"main":[[{"node":"Email Tenant - High Urgency","type":"main","index":0},{"node":"Notify Management","type":"main","index":0}],[{"node":"Email Tenant - Regular","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Classify Urgency","type":"ai_languageModel","index":0}]]},"Log to Google Sheets":{"main":[[{"node":"Suggest Follow-up","type":"main","index":0}]]},"Urgency Output Parser":{"ai_outputParser":[[{"node":"Classify Urgency","type":"ai_outputParser","index":0}]]},"Anthropic Chat Model 2":{"ai_languageModel":[[{"node":"Suggest Follow-up","type":"ai_languageModel","index":0}]]},"Email Tenant - Regular":{"main":[[{"node":"Merge Notification Branches","type":"main","index":1}]]},"Workflow Configuration":{"main":[[{"node":"Normalize Data","type":"main","index":0}]]},"Package/Visitor Webhook":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"SMS Tenant - High Urgency":{"main":[[{"node":"Merge Notification Branches","type":"main","index":0}]]},"Email Tenant - High Urgency":{"main":[[{"node":"SMS Tenant - High Urgency","type":"main","index":0}]]},"Merge Notification Branches":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0}]]}}}