workflows/Generate Animal Battle Videos with Flux AI, Creatomate & Multi-Platform Publishing-10735/generate_animal_battle_videos_with_flux_ai_creatomate_multi-platform_publishing.json
{"id":"sm49mTt3RmbnXZuo","meta":{"instanceId":"8cf060ebda3ec45b5ebb6a30779eaf0c03dfba83865feab3f32adb31b82caa08"},"name":"AI Versus","tags":[],"nodes":[{"id":"b5e6bace-947e-433d-845c-f9376c2ba70f","name":"Render Video","type":"n8n-nodes-base.httpRequest","position":[1232,1216],"parameters":{"url":"https://api.creatomate.com/v1/renders","method":"POST","options":{},"jsonBody":"={\n  \"template_id\": \"YOUR TEMPLATE ID\",\n  \"modifications\": {\n    \"Music.source\": \"https://drive.google.com/file/d/1wnE7sH3xOV17uytRP1FwN67jlfZuvg2P/view?usp=drive_link\",\n    \"Top-Image-1.source\": \"{{ $json['1.2'] }}\",\n    \"Bottom-Image-1.source\": \"{{ $json['1.1'] }}\",\n    \"Middle-Text-1.text\": \"VS\",\n    \"Full-Background-Image-1.source\": \"{{ $json['1.3'] }}\",\n    \"Top-Image-2.source\": \"{{ $json['2.2'] }}\",\n    \"Bottom-Image-2.source\": \"{{ $json['2.1'] }}\",\n    \"Middle-Text-2.text\": \"VS\",\n    \"Full-Background-Image-2.source\": \"{{ $json['2.3'] }}\",\n    \"Top-Image-3.source\": \"{{ $json['3.2'] }}\",\n    \"Bottom-Image-3.source\": \"{{ $json['3.1'] }}\",\n    \"Middle-Text-3.text\": \"VS\",\n    \"Full-Background-Image-3.source\": \"{{ $json['3.3'] }}\",\n    \"Top-Image-4.source\": \"{{ $json['4.2'] }}\",\n    \"Bottom-Image-4.source\": \"{{ $json['4.1'] }}\",\n    \"Middle-Text-4.text\": \"VS\",\n    \"Full-Background-Image-4.source\": \"{{ $json['4.3'] }}\",\n    \"Top-Image-5.source\": \"{{ $json['5.2'] }}\",\n    \"Bottom-Image-5.source\": \"{{ $json['5.1'] }}\",\n    \"Middle-Text-5.text\": \"VS\",\n    \"Full-Background-Image-5.source\": \"{{ $json['5.3'] }}\",\n    \"Top-Image-6.source\": \"{{ $json['6.2'] }}\",\n    \"Bottom-Image-6.source\": \"{{ $json['6.1'] }}\",\n    \"Middle-Text-6.text\": \"VS\",\n    \"Full-Background-Image-6.source\": \"{{ $json['6.3'] }}\",\n    \"Top-Image-7.source\": \"{{ $json['7.2'] }}\",\n    \"Bottom-Image-7.source\": \"{{ $json['7.1'] }}\",\n    \"Middle-Text-7.text\": \"VS\",\n    \"Full-Background-Image-7.source\": \"{{ $json['7.3'] }}\",\n    \"Top-Image-8.source\": \"{{ $json['8.2'] }}\",\n    \"Bottom-Image-8.source\": \"{{ $json['8.1'] }}\",\n    \"Middle-Text-8.text\": \"VS\",\n    \"Full-Background-Image-8.source\": \"{{ $json['8.3'] }}\"\n  }\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_TOKEN_HERE API KEY"}]}},"typeVersion":4.2},{"id":"aae97fab-71ef-48c0-8684-9f3019ef37f7","name":"Get Main Character","type":"n8n-nodes-base.googleSheets","position":[1072,112],"parameters":{"options":{"returnFirstMatch":true},"filtersUI":{"values":[{"lookupValue":"To Do","lookupColumn":"Status"}]},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk","cachedResultName":"Viral Shorts"}},"typeVersion":4.5},{"id":"9b7bfdab-7f95-4d97-a58d-f02c431ccbf1","name":"Scene Creator","type":"@n8n/n8n-nodes-langchain.agent","position":[1232,112],"parameters":{"text":"=Main Character: {{ $json['Main Character'] }}\nOpponents: {{ $json.Opponents }}","options":{"systemMessage":"=# Overview\nYou are an AI agent that creates fight scene matchups.\n\n## Instructions\nGiven a main character and a category of opponents, generate a list of eight different opponents from that category. Each opponent should be suitable to fight the main character and come from a different environment, background, or type within the category.\n\nDo not include descriptions, adjectives, or extra context. Only list the opponent names, one per scene, labeled clearly.\n\n## Output Format:\nOnly output the opponent.\n\nScene 1: [Opponent]\nScene 2: [Opponent]\nScene 3: [Opponent]\nScene 4: [Opponent]\nScene 5: [Opponent]\nScene 6: [Opponent]\nScene 7: [Opponent]\nScene 8: [Opponent]\n\n"},"promptType":"define","hasOutputParser":true},"typeVersion":1.9},{"id":"cb460c1e-e98f-439f-9b5b-a14388c18394","name":"GPT 4.1-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[2192,256],"parameters":{"options":{}},"credentials":{"openRouterApi":{"id":"xh1Cy2ccxRRQi4qU","name":"OpenRouter account"}},"typeVersion":1},{"id":"8aa6a398-7c4e-428d-b257-195df7c6b937","name":"Image Prompt Generator","type":"@n8n/n8n-nodes-langchain.agent","position":[912,560],"parameters":{"text":"=Main Animal: {{ $json.mainCharacter }}\nOpponent: {{ $json.opponents }}","options":{"systemMessage":"=# System Prompt\n\nYou are an AI agent that generates high-quality text-to-image prompts for a photorealistic image generation API.\n\n## Task\nGiven a **main animal** and an **opponent**, generate two separate close-up image prompts optimized for cinematic AI-generated images.\n\n## Output\nOutput two close up prompts. One for the main animal, one for the opponent.\n\nEach prompt must make the animal look:\n- hyper-realistic and photorealistic\n- fierce, angry, intimidating, threatening\n- Focused on high detail: skin/fur/scales, lighting, facial expression, and textures\n- Roaring with mouth wide open\n- Designed to make the animal look powerful, aggressive, and dramatic\n- The animal should be looking into the camera\n\nDo not include any background story, camera specifications, or extra formatting. Only return two clear and vivid text-to-image prompts—one for each animal.\n"},"promptType":"define","hasOutputParser":true},"typeVersion":1.9},{"id":"f1258224-2b94-4bac-abbc-fd2dce421793","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1728,208],"parameters":{"options":{},"fieldToSplitOut":"opponents"},"typeVersion":1},{"id":"6b33112d-2e89-4bf6-b159-e012f2ae1831","name":"Main Character","type":"n8n-nodes-base.set","position":[1648,32],"parameters":{"options":{},"assignments":{"assignments":[{"id":"ca3dc849-efdb-4c9c-9f6a-bff50a66cec6","name":"mainCharacter","type":"string","value":"={{ $('Get Main Character').item.json['Main Character'] }}"}]}},"typeVersion":3.4},{"id":"83f508ae-afd5-4f7e-b692-0a24e9c3189b","name":"Merge","type":"n8n-nodes-base.merge","position":[1888,112],"parameters":{"mode":"combine","options":{},"combineBy":"combineAll"},"typeVersion":3.1},{"id":"281c085e-0873-4bd1-ac61-35455a1c5af3","name":"Opponents","type":"n8n-nodes-base.set","position":[1568,208],"parameters":{"options":{},"assignments":{"assignments":[{"id":"ee009a73-f9e0-48b2-963e-6d88f7b01fce","name":"opponents","type":"array","value":"=['{{ $json.output.scene1 }}','{{ $json.output.scene2 }}','{{ $json.output.scene3 }}','{{ $json.output.scene4 }}','{{ $json.output.scene5 }}','{{ $json.output.scene6 }}','{{ $json.output.scene7 }}','{{ $json.output.scene8 }}']"}]}},"typeVersion":3.4},{"id":"a20e63d4-8d3c-45cc-aca2-a45c097431d9","name":"Scenes","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2272,128],"parameters":{"jsonSchemaExample":"{\n  \"scene1\": \"Tiger\",\n  \"scene2\": \"Gorilla\",\n  \"scene3\": \"Black Panther\",\n  \"scene4\": \"Buffalo\",\n  \"scene5\": \"Anaconda\",\n  \"scene6\": \"Hyena\",\n  \"scene7\": \"Leopard\",\n  \"scene8\": \"Crocodile\"\n}\n"},"typeVersion":1.2},{"id":"e7a358bf-7837-4546-b485-74d9a919cc3f","name":"Close Ups","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2192,496],"parameters":{"jsonSchemaExample":"{\n  \"mainCharacterCloseUp\": \"imagePrompt1\",\n  \"opponentCloseUp\": \"imagePrompt2\"\n}"},"typeVersion":1.2},{"id":"f868c84b-6d5c-49bf-85c8-e488db932ab3","name":"Winner Image Prompt","type":"@n8n/n8n-nodes-langchain.agent","position":[976,896],"parameters":{"text":"=Animal 1: {{ $('Merge').item.json.mainCharacter }}\nAnimal 2: {{ $('Merge').item.json.opponents }}","options":{"systemMessage":"=# Overview\nYou are an AI agent that creates text-to-image prompts for a photorealistic image generation API. Your goal is to create a single cinematic scene that shows the aftermath of a battle between two aniamals.\n\n## Task:\nGiven two animals, write one vivid prompt for a photorealistic image that shows the aftermath of a fight. Decide which animal is the winner, it should be realistic based on the strengths of each animal.\n\n## Prompt Guidelines\n1. The winner must be standing on top of the loser in a dominating stance. They should have visible battle scars.\n2. The winner should staring at the camera, roaring, mouth wide open, looking fierce, intimidating, and terrifying.\n3. The loser must appear dead, the word \"lifeless\" should be used. The loser should have visible wounds and battle scars.\n5. Both animal must be clearly visible, with the winner’s dominant stance making it immediately obvious who won the fight.\n6. The image must be photorealistic, with high attention to lighting, textures, and atmosphere. It should clearly display the aftermath of a brutal fight where the loser was injured.\n7. The two animals must be the main focus, filling most of the frame. The background should only enhance the realism and not distract.\n8. Each animal must be visually distinct and easily identifiable based on real-world appearance. The prompt must clearly describe each animal by name and include key traits that help the model render them correctly and differently.\n9. Use species-specific language to avoid confusion. Do not refer to both animals as just “beasts” or “creatures.” Always name them: \"the lion\" and \"the wolf\" — and refer back to them by name in the prompt.\n\n## Output:\nReturn one single paragraph as the final prompt.\n\n## Good Example Image Prompts\n1) In a photorealistic, cinematic scene, a massive polar bear stands triumphantly over the lifeless body of a jaguar in a snow-dusted landscape. The polar bear, its thick white fur spattered with streaks of blood and dust, dominates the frame, towering above the slack, motionless form of the jaguar sprawled beneath its heavy paw. The polar bear’s mouth is wide open in a terrifying roar, sharp teeth glistening, and its dark, fierce eyes stare straight into the camera, exuding raw power and victory. The jaguar’s spotted golden body lies limp and completely still, head tilted to the side, eyes fully closed with no sign of life, jaws parted loosely, and its muscular limbs splayed carelessly on the icy ground. Every detail—from the jaguar’s distinctive rosettes to the polar bear’s thick, textured fur and massive claws—is rendered in sharp, lifelike clarity beneath cold, dramatic lighting, making it unmistakably clear that the polar bear is the fearsome victor of this brutal encounter.\n\n"},"promptType":"define"},"typeVersion":1.9},{"id":"138b0f77-3c8f-4cac-9773-6a27010fb939","name":"Get Video","type":"n8n-nodes-base.httpRequest","position":[1552,1216],"parameters":{"url":"={{ $json.url }}","options":{}},"typeVersion":4.2},{"id":"237ad552-aea4-4a36-b301-cc2f50467233","name":"Generate Close Ups","type":"n8n-nodes-base.httpRequest","position":[1344,560],"parameters":{"url":"https://api.piapi.ai/api/v1/task","method":"POST","options":{},"jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output }}\",\n        \"width\": 1024, \n        \"height\": 1024\n    } \n}","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"typeVersion":4.2},{"id":"a8c68c3d-5613-4938-a826-af7d92d44f2f","name":"Split Out1","type":"n8n-nodes-base.splitOut","position":[1216,560],"parameters":{"options":{},"fieldToSplitOut":"output"},"typeVersion":1},{"id":"be80ff4f-046e-4614-b737-4e473fdccb99","name":"90 seconds","type":"n8n-nodes-base.wait","position":[1488,560],"webhookId":"4d2189e7-aecc-4812-8e55-5f9509b159fc","parameters":{"amount":90},"typeVersion":1.1},{"id":"6bbe0b78-71ab-493d-a51d-76ac4dae959b","name":"Get Close Ups","type":"n8n-nodes-base.httpRequest","position":[1632,560],"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","options":{},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"typeVersion":4.2},{"id":"ebc1531d-0538-4624-9e80-68ad9694446c","name":"Add Close Ups","type":"n8n-nodes-base.googleSheets","position":[1904,560],"parameters":{"columns":{"value":{"1.1":"={{ $json.data[0].output.image_url }}","1.2":"={{ $json.data[1].output.image_url }}","2.1":"={{ $json.data[2].output.image_url }}","2.2":"={{ $json.data[3].output.image_url }}","3.1":"={{ $json.data[4].output.image_url }}","3.2":"={{ $json.data[5].output.image_url }}","4.1":"={{ $json.data[6].output.image_url }}","4.2":"={{ $json.data[7].output.image_url }}","5.1":"={{ $json.data[8].output.image_url }}","5.2":"={{ $json.data[9].output.image_url }}","6.1":"={{ $json.data[10].output.image_url }}","6.2":"={{ $json.data[11].output.image_url }}","7.1":"={{ $json.data[12].output.image_url }}","7.2":"={{ $json.data[13].output.image_url }}","8.1":"={{ $json.data[14].output.image_url }}","8.2":"={{ $json.data[15].output.image_url }}","Main Character":"={{ $('Get Main Character').item.json['Main Character'] }}"},"schema":[{"id":"Main Character","type":"string","display":true,"removed":false,"required":false,"displayName":"Main Character","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Opponents","type":"string","display":true,"removed":true,"required":false,"displayName":"Opponents","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"removed":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.1","type":"string","display":true,"required":false,"displayName":"1.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.2","type":"string","display":true,"required":false,"displayName":"1.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.3","type":"string","display":true,"removed":true,"required":false,"displayName":"1.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.1","type":"string","display":true,"required":false,"displayName":"2.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.2","type":"string","display":true,"required":false,"displayName":"2.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.3","type":"string","display":true,"removed":true,"required":false,"displayName":"2.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.1","type":"string","display":true,"required":false,"displayName":"3.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.2","type":"string","display":true,"required":false,"displayName":"3.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.3","type":"string","display":true,"removed":true,"required":false,"displayName":"3.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.1","type":"string","display":true,"required":false,"displayName":"4.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.2","type":"string","display":true,"required":false,"displayName":"4.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.3","type":"string","display":true,"removed":true,"required":false,"displayName":"4.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.1","type":"string","display":true,"required":false,"displayName":"5.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.2","type":"string","display":true,"required":false,"displayName":"5.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.3","type":"string","display":true,"removed":true,"required":false,"displayName":"5.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.1","type":"string","display":true,"required":false,"displayName":"6.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.2","type":"string","display":true,"required":false,"displayName":"6.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.3","type":"string","display":true,"removed":true,"required":false,"displayName":"6.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.1","type":"string","display":true,"required":false,"displayName":"7.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.2","type":"string","display":true,"required":false,"displayName":"7.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.3","type":"string","display":true,"removed":true,"required":false,"displayName":"7.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.1","type":"string","display":true,"required":false,"displayName":"8.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.2","type":"string","display":true,"required":false,"displayName":"8.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.3","type":"string","display":true,"removed":true,"required":false,"displayName":"8.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Main Character"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk","cachedResultName":"Viral Shorts"}},"typeVersion":4.5},{"id":"84b8ee2d-d372-4922-8b33-87a17b8a151a","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[1776,560],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]}},"typeVersion":1},{"id":"64dc7535-c9dc-4616-96c7-a079a90c1694","name":"Generate Scene","type":"n8n-nodes-base.httpRequest","position":[1264,896],"parameters":{"url":"https://api.piapi.ai/api/v1/task","method":"POST","options":{},"jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output }}\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"typeVersion":4.2},{"id":"8cdbe65a-312f-44eb-9682-17b554168dd8","name":"Get Winners","type":"n8n-nodes-base.httpRequest","position":[1552,896],"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","options":{},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"typeVersion":4.2},{"id":"894e7753-5d0f-439d-8853-6e52c2a5f6ca","name":"90_seconds","type":"n8n-nodes-base.wait","position":[1408,896],"webhookId":"4d2189e7-aecc-4812-8e55-5f9509b159fc","parameters":{"amount":90},"typeVersion":1.1},{"id":"b83c64e0-524f-4fd4-949d-c7c4a18953f8","name":"GPT 4.1","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[2272,368],"parameters":{"model":"openai/gpt-4.1","options":{}},"credentials":{"openRouterApi":{"id":"xh1Cy2ccxRRQi4qU","name":"OpenRouter account"}},"typeVersion":1},{"id":"0c4dc305-b930-4156-a280-dafd96c24e54","name":"Aggregate1","type":"n8n-nodes-base.aggregate","position":[1696,896],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]}},"typeVersion":1},{"id":"5193a9b1-9011-408b-a91b-71875810fed4","name":"Add Winner","type":"n8n-nodes-base.googleSheets","position":[1824,896],"parameters":{"columns":{"value":{"1.3":"={{ $json.data[0].output.image_url }}","2.3":"={{ $json.data[1].output.image_url }}","3.3":"={{ $json.data[2].output.image_url }}","4.3":"={{ $json.data[3].output.image_url }}","5.3":"={{ $json.data[4].output.image_url }}","6.3":"={{ $json.data[5].output.image_url }}","7.3":"={{ $json.data[6].output.image_url }}","8.3":"={{ $json.data[7].output.image_url }}","Main Character":"={{ $('Get Main Character').item.json['Main Character'] }}"},"schema":[{"id":"Main Character","type":"string","display":true,"removed":false,"required":false,"displayName":"Main Character","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Opponents","type":"string","display":true,"removed":true,"required":false,"displayName":"Opponents","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"removed":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.1","type":"string","display":true,"removed":true,"required":false,"displayName":"1.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.2","type":"string","display":true,"removed":true,"required":false,"displayName":"1.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.3","type":"string","display":true,"required":false,"displayName":"1.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.1","type":"string","display":true,"removed":true,"required":false,"displayName":"2.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.2","type":"string","display":true,"removed":true,"required":false,"displayName":"2.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.3","type":"string","display":true,"required":false,"displayName":"2.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.1","type":"string","display":true,"removed":true,"required":false,"displayName":"3.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.2","type":"string","display":true,"removed":true,"required":false,"displayName":"3.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.3","type":"string","display":true,"required":false,"displayName":"3.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.1","type":"string","display":true,"removed":true,"required":false,"displayName":"4.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.2","type":"string","display":true,"removed":true,"required":false,"displayName":"4.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.3","type":"string","display":true,"required":false,"displayName":"4.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.1","type":"string","display":true,"removed":true,"required":false,"displayName":"5.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.2","type":"string","display":true,"removed":true,"required":false,"displayName":"5.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.3","type":"string","display":true,"required":false,"displayName":"5.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.1","type":"string","display":true,"removed":true,"required":false,"displayName":"6.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.2","type":"string","display":true,"removed":true,"required":false,"displayName":"6.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.3","type":"string","display":true,"required":false,"displayName":"6.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.1","type":"string","display":true,"removed":true,"required":false,"displayName":"7.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.2","type":"string","display":true,"removed":true,"required":false,"displayName":"7.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.3","type":"string","display":true,"required":false,"displayName":"7.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.1","type":"string","display":true,"removed":true,"required":false,"displayName":"8.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.2","type":"string","display":true,"removed":true,"required":false,"displayName":"8.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.3","type":"string","display":true,"required":false,"displayName":"8.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Main Character"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk","cachedResultName":"Viral Shorts"}},"typeVersion":4.5},{"id":"94e1df51-c8a9-414c-acf2-8c4a5abf2dc9","name":"Merge1","type":"n8n-nodes-base.merge","position":[912,1216],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3.1},{"id":"d964dd10-2e32-402d-bb2e-223f535fa8cb","name":"Get Elements","type":"n8n-nodes-base.googleSheets","position":[1072,1216],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $json['Main Character'] }}","lookupColumn":"Main Character"}]},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk","cachedResultName":"Viral Shorts"}},"typeVersion":4.5},{"id":"286b8044-6eef-4496-8e80-d9685fa1e9b0","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1712,1216],"parameters":{"columns":{"value":{"Status":"Created","Final Video":"={{ $json.url }}","Main Character":"={{ $('Get Main Character').item.json['Main Character'] }}"},"schema":[{"id":"Main Character","type":"string","display":true,"removed":false,"required":false,"displayName":"Main Character","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Opponents","type":"string","display":true,"removed":true,"required":false,"displayName":"Opponents","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Final Video","type":"string","display":true,"required":false,"displayName":"Final Video","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.1","type":"string","display":true,"removed":true,"required":false,"displayName":"1.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.2","type":"string","display":true,"removed":true,"required":false,"displayName":"1.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"1.3","type":"string","display":true,"removed":true,"required":false,"displayName":"1.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.1","type":"string","display":true,"removed":true,"required":false,"displayName":"2.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.2","type":"string","display":true,"removed":true,"required":false,"displayName":"2.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"2.3","type":"string","display":true,"removed":true,"required":false,"displayName":"2.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.1","type":"string","display":true,"removed":true,"required":false,"displayName":"3.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.2","type":"string","display":true,"removed":true,"required":false,"displayName":"3.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"3.3","type":"string","display":true,"removed":true,"required":false,"displayName":"3.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.1","type":"string","display":true,"removed":true,"required":false,"displayName":"4.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.2","type":"string","display":true,"removed":true,"required":false,"displayName":"4.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"4.3","type":"string","display":true,"removed":true,"required":false,"displayName":"4.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.1","type":"string","display":true,"removed":true,"required":false,"displayName":"5.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.2","type":"string","display":true,"removed":true,"required":false,"displayName":"5.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"5.3","type":"string","display":true,"removed":true,"required":false,"displayName":"5.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.1","type":"string","display":true,"removed":true,"required":false,"displayName":"6.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.2","type":"string","display":true,"removed":true,"required":false,"displayName":"6.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"6.3","type":"string","display":true,"removed":true,"required":false,"displayName":"6.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.1","type":"string","display":true,"removed":true,"required":false,"displayName":"7.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.2","type":"string","display":true,"removed":true,"required":false,"displayName":"7.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"7.3","type":"string","display":true,"removed":true,"required":false,"displayName":"7.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.1","type":"string","display":true,"removed":true,"required":false,"displayName":"8.1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.2","type":"string","display":true,"removed":true,"required":false,"displayName":"8.2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"8.3","type":"string","display":true,"removed":true,"required":false,"displayName":"8.3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Main Character"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk","cachedResultName":"Viral Shorts"}},"typeVersion":4.5},{"id":"22b97daa-cff2-46bf-bcd9-509491148533","name":"90_Seconds","type":"n8n-nodes-base.wait","position":[1392,1216],"webhookId":"32dfbb57-d930-4807-922e-78fa7fb72e78","parameters":{"amount":90},"typeVersion":1.1},{"id":"35073704-ae1d-4a1a-9439-c7b4386a7316","name":"Upload to Blotato","type":"n8n-nodes-base.httpRequest","position":[1872,1216],"parameters":{"url":"https://backend.blotato.com/v2/media","method":"POST","options":{},"sendBody":true,"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"url","value":"={{ $json['Final Video'] }}"}]},"genericAuthType":"httpHeaderAuth"},"typeVersion":4.2},{"id":"2a3afdb9-761b-4965-b002-2713173f95dd","name":"Instagram","type":"n8n-nodes-base.httpRequest","position":[2224,736],"parameters":{"url":"https://backend.blotato.com/v2/posts","method":"POST","options":{},"jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Main Character').item.json['Main Character'] }} vs {{ $('Get Main Character').item.json.Opponents }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"account_id\"\n  }\n}\n","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"typeVersion":4.2},{"id":"429c9e22-b954-4e4a-950a-7e9e95ebebc0","name":"TikTok","type":"n8n-nodes-base.httpRequest","position":[2224,992],"parameters":{"url":"https://backend.blotato.com/v2/posts","method":"POST","options":{},"jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Main Character').item.json['Main Character'] }} vs {{ $('Get Main Character').item.json.Opponents }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"account_id\"\n  }\n}\n","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"typeVersion":4.2},{"id":"d0584709-d1f8-4164-b71d-ec15871730ca","name":"YouTube","type":"n8n-nodes-base.httpRequest","position":[2224,1248],"parameters":{"url":"https://backend.blotato.com/v2/posts","method":"POST","options":{},"jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get Main Character').item.json['Main Character'] }} vs {{ $('Get Main Character').item.json.Opponents }}\",\n      \"privacyStatus\": \"unlisted\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"text\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"account_id\"\n  }\n}\n","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"typeVersion":4.2},{"id":"3eaaedc1-2e14-418a-b9de-dce6809b5240","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[784,-32],"parameters":{"color":4,"width":1320,"height":440,"content":"# Create Scenes\n\n"},"typeVersion":1},{"id":"60deffbc-58a4-40f9-9a40-9af4cabc9cbb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[784,432],"parameters":{"color":5,"width":1320,"height":320,"content":"# Create Close-up Images"},"typeVersion":1},{"id":"94a7b68f-c9e2-4251-b7d8-f44d03c85174","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[784,768],"parameters":{"color":6,"width":1320,"height":320,"content":"# Create Winner Images"},"typeVersion":1},{"id":"28140f06-14b0-49e2-baa8-e45002d9eabf","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2128,-32],"parameters":{"color":7,"width":300,"height":660,"content":"# Output Parser & Chat Models\n"},"typeVersion":1},{"id":"5f4d3e22-51f8-4928-a83e-b984b8f3e571","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[784,1120],"parameters":{"color":3,"width":1320,"height":300,"content":"# Render Video"},"typeVersion":1},{"id":"344eb46e-629a-46de-b8c2-693f9915be14","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2128,656],"parameters":{"width":300,"height":240,"content":"# Instagram"},"typeVersion":1},{"id":"9c2b8d24-e66a-45a5-b27c-1efc0d6c7759","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2128,912],"parameters":{"width":300,"height":240,"content":"# TikTok"},"typeVersion":1},{"id":"642738d0-77d4-433c-aad7-76cfb0f86f12","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2128,1168],"parameters":{"width":300,"height":240,"content":"# YouTube\n"},"typeVersion":1},{"id":"c3126b07-f818-4508-a2ef-80964f3d7b89","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[912,112],"parameters":{"rule":{"interval":[{}]}},"typeVersion":1.2},{"id":"a10e98ef-95b0-43de-a673-9c934d40cb7d","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[304,-32],"parameters":{"width":460,"height":460,"content":"# 🛠️Setup Guide  \n**Author: [Jadai kongolo](https://www.instagram.com/jadai_ai_automation/)**\n\n1. **Make a copy** of this [Google Sheet Template](https://docs.google.com/spreadsheets/d/1hBjE1LR5rmSlEkwkNIwf_NnbjBS_cALS5FJ0r6vh7nM/edit?usp=sharing) and connect it to the five Google Sheet nodes in the workflow.\n\n2. Connect your [OpenRouter](https://openrouter.ai/) API key to the two OpenRouter nodes in the chat model section.\n\n3. Create a [PiAPi](https://piapi.ai/workspace) account and connect your API key.\n\n4. Create a [Creatomate](https://creatomate.com/) account and connect your template ID and account ID.  \n   You can duplicate the same template shown in the video by using the source code linked in the same Skool post where you downloaded the workflow.\n\n5. Connect your [Blotato](https://blotato.com/) account and get your API key to enable auto publishing to Instagram, TikTok, and YouTube."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"b5316510-61bf-45fb-8ba9-f2ac6219084c","connections":{"Merge":{"main":[[{"node":"Image Prompt Generator","type":"main","index":0},{"node":"Winner Image Prompt","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Get Elements","type":"main","index":0}]]},"Scenes":{"ai_outputParser":[[{"node":"Scene Creator","type":"ai_outputParser","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"Winner Image Prompt","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"Add Close Ups","type":"main","index":0}]]},"Close Ups":{"ai_outputParser":[[{"node":"Image Prompt Generator","type":"ai_outputParser","index":0}]]},"Get Video":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Opponents":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":1}]]},"90 seconds":{"main":[[{"node":"Get Close Ups","type":"main","index":0}]]},"90_Seconds":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"90_seconds":{"main":[[{"node":"Get Winners","type":"main","index":0}]]},"Add Winner":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Aggregate1":{"main":[[{"node":"Add Winner","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Generate Close Ups","type":"main","index":0}]]},"Get Winners":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"GPT 4.1-mini":{"ai_languageModel":[[{"node":"Scene Creator","type":"ai_languageModel","index":0},{"node":"Image Prompt Generator","type":"ai_languageModel","index":0}]]},"Get Elements":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Render Video":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]},"Add Close Ups":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get Close Ups":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Upload to Blotato","type":"main","index":0}]]},"Scene Creator":{"main":[[{"node":"Opponents","type":"main","index":0},{"node":"Main Character","type":"main","index":0}]]},"Generate Scene":{"main":[[{"node":"90_seconds","type":"main","index":0}]]},"Main Character":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Main Character","type":"main","index":0}]]},"Upload to Blotato":{"main":[[{"node":"Instagram","type":"main","index":0},{"node":"TikTok","type":"main","index":0},{"node":"YouTube","type":"main","index":0}]]},"Generate Close Ups":{"main":[[{"node":"90 seconds","type":"main","index":0}]]},"Get Main Character":{"main":[[{"node":"Scene Creator","type":"main","index":0}]]},"Winner Image Prompt":{"main":[[{"node":"Generate Scene","type":"main","index":0}]]},"Image Prompt Generator":{"main":[[{"node":"Split Out1","type":"main","index":0}]]}}}