workflows/Create Daily 4K Wallpapers from NASA's APOD with Google Drive & Slack Alerts-10995/create_daily_4k_wallpapers_from_nasa_s_apod_with_google_drive_slack_alerts.json
{"id":"t3n3mUyfIW5xTHDw","meta":{"instanceId":"d02f9239324256c2c5ad7338bdc50f666d36f02cbba76692f30d3a0dd5883c18"},"name":"壁紙提出","tags":[],"nodes":[{"id":"28a2c86a-c08b-4d3a-908f-26e002f4301b","name":"Daily Schedule","type":"n8n-nodes-base.scheduleTrigger","position":[-1040,256],"parameters":{"rule":{"interval":[{}]}},"typeVersion":1.2},{"id":"123c6ade-aca1-4e95-9c2c-fa2be9646c94","name":"Fetch Metadata","type":"n8n-nodes-base.nasa","position":[-592,256],"parameters":{"download":false,"additionalFields":{"date":"={{ $now.minus({ days: 1}).toISODate() }}"}},"typeVersion":1},{"id":"6241beed-94fc-4968-af6d-8123e039b808","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[-144,160],"parameters":{"url":"={{ $json.hdurl || $json.url }}","options":{"batching":{"batch":{"batchSize":1}},"response":{"response":{"responseFormat":"file"}}}},"typeVersion":4.3},{"id":"e2e3db82-fd27-4079-8f5d-1f5f8c2ac67b","name":"Resize Image","type":"n8n-nodes-base.editImage","position":[96,160],"parameters":{"width":3840,"height":2160,"options":{},"operation":"resize"},"typeVersion":1},{"id":"090deb8d-6661-4d1d-9080-489e51c55b94","name":"Generate Filename","type":"n8n-nodes-base.set","position":[320,160],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"fileName","type":"string","value":"={{ 'apod_' + $('Fetch Metadata').item.json.date + '.jpg' }}"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"2a0d9dc7-741a-4712-b03b-3dc3c7bc457c","name":"Check Storage Provider","type":"n8n-nodes-base.if","position":[544,160],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"id-1","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Workflow Configuration').first().json.STORAGE_PROVIDER }}","rightValue":"drive"}]}},"typeVersion":2.2},{"id":"ceea7bd4-365b-49f2-8b3d-666576463af8","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","position":[768,160],"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"options":{},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.DRIVE_FOLDER_ID }}"}},"typeVersion":3},{"id":"320cff2f-d838-436d-bc96-1ddb8f5ae02a","name":"If","type":"n8n-nodes-base.if","position":[-368,256],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"20c7fce5-7786-45ef-9905-0cc4b15a4e51","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.media_type }}","rightValue":"image"}]}},"typeVersion":2.2},{"id":"ce81415b-c4a9-4e87-b3f9-5a06f1dc747f","name":"Send a message","type":"n8n-nodes-base.slack","position":[-80,480],"webhookId":"6834e5db-5be6-47c9-ab71-3efa002c9138","parameters":{"text":"=今日のNASA APODは画像ではなかったため、壁紙の取得をスキップしました。 メディアタイプ:{{ $('Fetch Metadata').item.json.media_type }} \nタイトル: {{ $('Fetch Metadata').item.json.title }}","select":"channel","channelId":{"__rl":true,"mode":"list","value":"C080E1PBKA5","cachedResultName":"a"},"otherOptions":{},"authentication":"oAuth2"},"typeVersion":2.3},{"id":"b767dd9f-f6cb-428b-b778-bfb2bc41fd1a","name":"Workflow Configuration","type":"n8n-nodes-base.set","position":[-816,256],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"STORAGE_PROVIDER","type":"string","value":"drive"},{"id":"id-2","name":"DRIVE_FOLDER_ID","type":"string","value":"1uOPQCyF_w9VX7FcgvAmBAjD3v0jl8MSU"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"55ea3da7-5980-4343-afd0-e96923c87bd6","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-432,80],"parameters":{"color":7,"width":224,"height":352,"content":"### If\n\nIf media type is image, it runs only if the daily APOD is an image."},"typeVersion":1},{"id":"c56b97ca-176b-4bb2-9420-4354400ef6ef","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-880,80],"parameters":{"color":7,"height":352,"content":"### Workflow Configuration\n\n1. Set your Google Drive Folder ID.\n2. Set your Slack Channel ID for notifications."},"typeVersion":1},{"id":"1abd1e66-144c-45e3-b24e-17c90deb1550","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1392,32],"parameters":{"width":272,"height":544,"content":"## What it does\nThis workflow automatically downloads NASA's Astronomy Picture of the Day (APOD) every day. It resizes the image to 4K and uploads it to a specified Google Drive folder.\n\nIf the APOD for the day is a video instead of an image, it skips the download and sends an alert to Slack.\n\n## How to set up\n1.  **Credentials**: Authenticate your NASA, Google Drive, and Slack accounts in their respective nodes.\n2.  **Configuration**: In the `⚙️ Configuration` node, enter your Google Drive Folder ID and Slack Channel ID.\n3.  **Activate**: Turn the workflow on using the toggle in the top-right corner."},"typeVersion":1},{"id":"2be97202-ea29-4363-a155-df3c64c8ca90","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1088,160],"parameters":{"color":7,"width":192,"height":256,"content":"### Daily Schedule\nStarts the workflow automatically once every day."},"typeVersion":1},{"id":"612001f7-05cb-4f7c-af12-017045399a52","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[464,32],"parameters":{"color":7,"height":288,"content":"### Check Storage Provider\nChecks if a file with the same name already exists in your Google Drive folder. This prevents duplicate uploads."},"typeVersion":1},{"id":"3740651a-1a63-49df-9135-64b3f1e3ac3a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-144,352],"parameters":{"color":7,"height":304,"content":"### Send a message\nIf the APOD is a video, this node sends a notification to Slack. This lets you know that an image wasn't saved for that day."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"0ab074ac-5783-4a9f-8f0c-e1ee4bf2db14","connections":{"If":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Resize Image":{"main":[[{"node":"Generate Filename","type":"main","index":0}]]},"Daily Schedule":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Resize Image","type":"main","index":0}]]},"Fetch Metadata":{"main":[[{"node":"If","type":"main","index":0}]]},"Generate Filename":{"main":[[{"node":"Check Storage Provider","type":"main","index":0}]]},"Check Storage Provider":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Metadata","type":"main","index":0}]]}}}