workflows/Automate Airtable inventory tracking and purchase order creation-11184/automate_airtable_inventory_tracking_and_purchase_order_creation.json
{"meta":{"instanceId":"c8c9ba5d3eb26ae47a06d24ff164a01c0d73ed4753a74903c2bb609d434a0f6b"},"nodes":[{"id":"e88d6249-2001-40c8-98f2-ed8bedb7992a","name":"Requirements Overview Note","type":"n8n-nodes-base.stickyNote","position":[336,128],"parameters":{"width":720,"height":336,"content":"Auto Draft PO: When there's no draft PO left for a supplier, create a new one\n\nAdd Products to Draft PO: When Current Qty changes, if Forecast Qty ≤ Threshold Qty, add Refill Qty - Current Qty to supplier-specific draft order (or increase if exists)\n\nSend PO with email: When switching from Draft to Order, generate email text:\n\n  Hi there,\n  I'd like to place the following order:\n  {Product 1} - {Qty}\n  {Product 2} - {Qty}\n(Don't send emails, just generate text)\n\nGenerate random SO (test):\n\nSimulate daily sales by selling random amounts from each product under current available qty. Manual trigger only."},"typeVersion":1},{"id":"db89a217-fd7f-4edf-b84a-e9f22b51d75a","name":"Draft PO Creation Section","type":"n8n-nodes-base.stickyNote","position":[336,528],"parameters":{"color":6,"width":848,"height":448,"content":"## Create a Draft PO if there's none"},"typeVersion":1},{"id":"1896ad7b-349a-4e41-a0ee-349ab76497af","name":"PO Modified","type":"n8n-nodes-base.airtableTrigger","position":[128,688],"parameters":{"baseId":{"__rl":true,"mode":"url","value":"https://airtable.com/appN9ivOwGQt1FwT5/tblaoU05NUR1ZPTLK/viwP97rB9cZ9JBElJ?blocks=hide"},"tableId":{"__rl":true,"mode":"url","value":"https://airtable.com/appN9ivOwGQt1FwT5/tblaoU05NUR1ZPTLK/viwP97rB9cZ9JBElJ?blocks=hide"},"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerField":"Last Modified","authentication":"airtableTokenApi","additionalFields":{"formula":""}},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":1},{"id":"c069b87c-5a69-4190-a67a-bdcfe385b023","name":"Find Suppliers Without Draft PO","type":"n8n-nodes-base.airtable","position":[464,688],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"table":{"__rl":true,"mode":"list","value":"tblW3uRcMObpV06An","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tblW3uRcMObpV06An","cachedResultName":"Suppliers"},"options":{},"operation":"search","filterByFormula":"{Draft PO Count} = 0"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"executeOnce":true,"typeVersion":2.1},{"id":"8549eb2a-2087-47b7-a19e-3e2f4211d7a9","name":"Create a Draft PO","type":"n8n-nodes-base.airtable","position":[688,688],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"table":{"__rl":true,"mode":"list","value":"tblaoU05NUR1ZPTLK","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tblaoU05NUR1ZPTLK","cachedResultName":"Purchase Orders"},"columns":{"value":{"Status":"Draft","Supplier":"=[\"{{ $json.id }}\"]"},"schema":[{"id":"PO ID","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"PO ID","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email Text","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Email Text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"options","display":true,"options":[{"name":"Draft","value":"Draft"},{"name":"Order","value":"Order"},{"name":"Received","value":"Received"}],"removed":false,"readOnly":false,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Supplier","type":"array","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Supplier","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email (from Suppliers)","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Email (from Suppliers)","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Last Modified","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Last Modified","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stock In Records","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Stock In Records","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"create"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1},{"id":"af7e69ff-feac-4613-8f5c-5aa95eca6908","name":"Manual Trigger for Test SO","type":"n8n-nodes-base.manualTrigger","position":[416,2096],"parameters":{},"typeVersion":1},{"id":"f3b83c3c-0929-475b-9996-26173304022c","name":"List Products","type":"n8n-nodes-base.airtable","position":[832,2096],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"table":{"__rl":true,"mode":"list","value":"tbljPbeJv8V58CZWr","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tbljPbeJv8V58CZWr","cachedResultName":"Products"},"options":{},"operation":"search","filterByFormula":"{Current Qty} >= 1"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1},{"id":"bbf9eecb-ca39-4357-b680-d82cbc380f64","name":"Auto Add Products Section","type":"n8n-nodes-base.stickyNote","position":[336,1056],"parameters":{"color":6,"width":1424,"height":416,"content":"## Adds Products to Purchase Order Based on Treshold"},"typeVersion":1},{"id":"48b4dabf-c4e6-43cf-b5d6-e5bf9cfedf8e","name":"Random SO Generator Section","type":"n8n-nodes-base.stickyNote","position":[336,1952],"parameters":{"color":6,"width":1104,"height":400,"content":"## For test - generate random SO\n\n\n"},"typeVersion":1},{"id":"1e47c096-11c2-436c-8d70-3d7f9a00e4d2","name":"Check Products Hourly","type":"n8n-nodes-base.scheduleTrigger","position":[128,1232],"parameters":{"rule":{"interval":[{"field":"hours"}]}},"typeVersion":1.2},{"id":"1210764b-0aa5-4798-8249-f5b48ff6d40a","name":"Find Products Need Purchase","type":"n8n-nodes-base.airtable","position":[432,1232],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"table":{"__rl":true,"mode":"list","value":"tbljPbeJv8V58CZWr","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tbljPbeJv8V58CZWr","cachedResultName":"Products"},"options":{},"operation":"search","filterByFormula":"{Needs Refill} = 1"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"executeOnce":true,"typeVersion":2.1},{"id":"81a3dca1-770e-40ce-9f1e-216300b6a47a","name":"Find Draft PO for Supplier","type":"n8n-nodes-base.airtable","position":[1120,1216],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"limit":1,"table":{"__rl":true,"mode":"list","value":"tblaoU05NUR1ZPTLK","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tblaoU05NUR1ZPTLK","cachedResultName":"Purchase Orders"},"options":{},"operation":"search","returnAll":false,"filterByFormula":"={PO ID} = \"{{ $json[\"Draft PO ID_2\"][0] }}\""},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1},{"id":"c917727a-6811-4bbb-adff-8bc3fa87f7f9","name":"Merge Product and Stock In Data","type":"n8n-nodes-base.merge","position":[912,1216],"parameters":{"mode":"combine","options":{"clashHandling":{"values":{"resolveClash":"addSuffix"}}},"advanced":true,"joinMode":"keepEverything","mergeByFields":{"values":[{"field1":"Product[0]","field2":"id"}]}},"typeVersion":3.2},{"id":"9359db33-86ed-4af1-8920-656badbb2c98","name":"Find Existing Stock In","type":"n8n-nodes-base.airtable","position":[672,1120],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"limit":1,"table":{"__rl":true,"mode":"list","value":"tblynUveOYVAvQ6NE","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tblynUveOYVAvQ6NE","cachedResultName":"Stock In"},"options":{},"operation":"search","returnAll":false,"filterByFormula":"={SKU and Status (helper)} = \"{{ $('Find Products Need Purchase').item.json.SKU }} - Draft\""},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1,"alwaysOutputData":true},{"id":"ef65dd08-b5d4-40ab-98e0-836f42becfe1","name":"Is there Stock In Already","type":"n8n-nodes-base.if","position":[1328,1216],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"32b1f19c-fd39-43be-85a4-3094f6447a51","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ !!$('Merge Product and Stock In Data').item.json.id_1 }}","rightValue":""}]}},"typeVersion":2.2},{"id":"86c3fc5d-3b3a-4e74-b98b-6d894e70e178","name":"Update Stock In","type":"n8n-nodes-base.airtable","position":[1568,1136],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"table":{"__rl":true,"mode":"list","value":"tblynUveOYVAvQ6NE","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tblynUveOYVAvQ6NE","cachedResultName":"Stock In"},"columns":{"value":{"id":"={{ $('Merge Product and Stock In Data').item.json.id_1 }}","Quantity":"={{ $('Find Products Need Purchase').item.json['Refill Qty'] - $('Find Products Need Purchase').item.json['Forecast Qty'] }}"},"schema":[{"id":"id","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"Name","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Product","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Product","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Quantity","type":"number","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Quantity","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Purchase Order","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Purchase Order","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Product Name","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Product Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"PO Status","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"PO Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"SKU and Status (helper)","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"SKU and Status (helper)","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1},{"id":"70cc665c-21a9-4aa4-8c49-8c20d778d08b","name":"Create Stock In","type":"n8n-nodes-base.airtable","position":[1568,1296],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"table":{"__rl":true,"mode":"list","value":"tblynUveOYVAvQ6NE","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tblynUveOYVAvQ6NE","cachedResultName":"Stock In"},"columns":{"value":{"Product":"=[\"{{ $('Find Products Need Purchase').item.json.id }}\"]","Quantity":"={{ $('Find Products Need Purchase').item.json['Refill Qty'] - $('Find Products Need Purchase').item.json['Forecast Qty'] }}","Purchase Order":"=[\"{{ $json.id }}\"]"},"schema":[{"id":"id","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"Name","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Product","type":"array","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Product","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Quantity","type":"number","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Quantity","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Purchase Order","type":"array","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Purchase Order","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Product Name","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Product Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"PO Status","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"PO Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"SKU and Status (helper)","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"SKU and Status (helper)","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["SKU and Status (helper)"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"create"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1},{"id":"3ba58b2c-d49f-4826-8a81-79990ea6a84f","name":"PO Enters Needs Email","type":"n8n-nodes-base.airtableTrigger","position":[144,1632],"parameters":{"baseId":{"__rl":true,"mode":"url","value":"https://airtable.com/appN9ivOwGQt1FwT5/tblaoU05NUR1ZPTLK/viwP97rB9cZ9JBElJ?blocks=hide"},"tableId":{"__rl":true,"mode":"url","value":"https://airtable.com/appN9ivOwGQt1FwT5/tblaoU05NUR1ZPTLK/viwP97rB9cZ9JBElJ?blocks=hide"},"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerField":"Status Last Modified","authentication":"airtableTokenApi","additionalFields":{"formula":"{Status} = \"Needs Email\""}},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":1},{"id":"77c4dadf-3e8a-4848-9480-2d8bd55af719","name":"Email Orders Section","type":"n8n-nodes-base.stickyNote","position":[336,1504],"parameters":{"color":6,"width":1424,"height":416,"content":"## Sends out order to Suppliers in Email"},"typeVersion":1},{"id":"d295c7bf-80c0-46ac-95a6-069c8820038c","name":"Create SO","type":"n8n-nodes-base.airtable","position":[624,2096],"parameters":{"base":{"__rl":true,"mode":"url","value":"https://airtable.com/appN9ivOwGQt1FwT5/tbljPbeJv8V58CZWr"},"table":{"__rl":true,"mode":"list","value":"tbl7lx9nDHdVlNq57","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tbl7lx9nDHdVlNq57","cachedResultName":"Sales Orders"},"columns":{"value":{"SO ID":"={{ `${Math.random().toString(16).slice(2,10)}` }}","Status":"Sent"},"schema":[{"id":"SO ID","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"SO ID","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"options","display":true,"options":[{"name":"Draft","value":"Draft"},{"name":"Sent","value":"Sent"}],"removed":false,"readOnly":false,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stock Out","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Stock Out","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Total Products","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Total Products","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"create"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1},{"id":"c1a78e14-b724-40e5-b202-bc87fbe14954","name":"Create SO Line","type":"n8n-nodes-base.airtable","position":[1040,2096],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"table":{"__rl":true,"mode":"list","value":"tblK8e458kyOf9odT","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tblK8e458kyOf9odT","cachedResultName":"Stock Out"},"columns":{"value":{"Product":"=[\"{{ $json.id }}\"]","Quantity":"={{ Math.floor(Math.random() * $json['Current Qty']) }}","Sales Order":"=[\"{{ $('Create SO').item.json.id }}\"]"},"schema":[{"id":"Name","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Product","type":"array","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Product","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Quantity","type":"number","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Quantity","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sales Order","type":"array","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Sales Order","defaultMatch":false,"canBeUsedToMatch":true},{"id":"SO Status","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"SO Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Product Name","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Product Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"SO Status (Text)","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"SO Status (Text)","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Is Sent?","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Is Sent?","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"create"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1},{"id":"86cde4ea-2a5e-4003-92e3-25db323f6eaf","name":"Send out PO to Supplier","type":"n8n-nodes-base.gmail","position":[384,1632],"webhookId":"b5b58a52-5fe6-457e-b5e3-0640ee551fae","parameters":{"sendTo":"supplier@example.com","message":"={{ $json.fields[\"Order Email Body\"] }}","options":{"appendAttribution":false},"subject":"=New Order - No.  {{ $json.fields[\"PO ID\"] }}","emailType":"text"},"credentials":{"gmailOAuth2":{"id":"duhSaIumY2CifCex","name":"vasarmilan@gmail.com"}},"typeVersion":2.1},{"id":"9edaff32-b5a5-4e4f-9f3a-2166d65659e6","name":"Update PO Status","type":"n8n-nodes-base.airtable","position":[608,1632],"parameters":{"base":{"__rl":true,"mode":"list","value":"appN9ivOwGQt1FwT5","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5","cachedResultName":"[YT] Inventory Management"},"table":{"__rl":true,"mode":"list","value":"tblaoU05NUR1ZPTLK","cachedResultUrl":"https://airtable.com/appN9ivOwGQt1FwT5/tblaoU05NUR1ZPTLK","cachedResultName":"Purchase Orders"},"columns":{"value":{"id":"={{ $('PO Enters Needs Email').item.json.id }}","Status":"Order"},"schema":[{"id":"id","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"PO ID","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"PO ID","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Order Email Body","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Order Email Body","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Order Lines","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Order Lines","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"options","display":true,"options":[{"name":"Draft","value":"Draft"},{"name":"Needs Email","value":"Needs Email"},{"name":"Order","value":"Order"},{"name":"Received","value":"Received"}],"removed":false,"readOnly":false,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stock In Records","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Stock In Records","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Supplier","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Supplier","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Supplier Email Address","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Supplier Email Address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Last Modified","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Last Modified","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status Last Modified","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Status Last Modified","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Order Email Beginning (from Supplier)","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Order Email Beginning (from Supplier)","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update"},"credentials":{"airtableTokenApi":{"id":"lkxZWCd27TyEahCT","name":"Airtable Personal Access Token account"}},"typeVersion":2.1},{"id":"doc-note-1763984564955","name":"Workflow Description","type":"n8n-nodes-base.stickyNote","position":[-572,538],"parameters":{"width":600,"height":1108,"content":"## Workflow Overview\n\nThis n8n workflow automates the entire purchase order process for an Airtable-based inventory management system. It monitors stock levels, automatically creates purchase orders when inventory falls below thresholds, and sends formatted orders to suppliers via email.\n\nThe workflow handles three key processes: ensuring each supplier always has a draft purchase order available, intelligently adding products to those orders based on forecasted stock levels versus threshold quantities, and automatically emailing suppliers when orders are ready to be sent.\n\n### First Setup\n\n**Required:** You must first copy the Airtable inventory base into your own account from: https://airtable.com/appN9ivOwGQt1FwT5/shr1ApcBSi4SOVoPh\n\nYou'll need to configure:\n- **Airtable credentials:** Personal Access Token with read/write permissions to your copied base\n- **Gmail credentials:** OAuth2 connection for sending purchase order emails to suppliers\n\nAfter copying the base, update all Airtable node connections to point to your base URL and table IDs.\n\n### Configuration\n\nThe workflow runs on an **hourly schedule** to check for products needing reorder. You can adjust this frequency in the \"Hourly\" Schedule Trigger node.\n\nThe test workflow (\"Generate random SO\") is manual-trigger only and simulates daily sales by randomly reducing product quantities—useful for testing the reorder automation without real sales data.\n\nAll supplier-specific settings (emails, reorder thresholds, refill quantities) are managed directly in the Airtable base, not in the workflow itself."},"typeVersion":1}],"pinData":{},"connections":{"Create SO":{"main":[[{"node":"List Products","type":"main","index":0}]]},"PO Modified":{"main":[[{"node":"Find Suppliers Without Draft PO","type":"main","index":0}]]},"List Products":{"main":[[{"node":"Create SO Line","type":"main","index":0}]]},"Check Products Hourly":{"main":[[{"node":"Find Products Need Purchase","type":"main","index":0}]]},"PO Enters Needs Email":{"main":[[{"node":"Send out PO to Supplier","type":"main","index":0}]]},"Find Existing Stock In":{"main":[[{"node":"Merge Product and Stock In Data","type":"main","index":0}]]},"Send out PO to Supplier":{"main":[[{"node":"Update PO Status","type":"main","index":0}]]},"Is there Stock In Already":{"main":[[{"node":"Update Stock In","type":"main","index":0}],[{"node":"Create Stock In","type":"main","index":0}]]},"Find Draft PO for Supplier":{"main":[[{"node":"Is there Stock In Already","type":"main","index":0}]]},"Manual Trigger for Test SO":{"main":[[{"node":"Create SO","type":"main","index":0}]]},"Find Products Need Purchase":{"main":[[{"node":"Find Existing Stock In","type":"main","index":0},{"node":"Merge Product and Stock In Data","type":"main","index":1}]]},"Find Suppliers Without Draft PO":{"main":[[{"node":"Create a Draft PO","type":"main","index":0}]]},"Merge Product and Stock In Data":{"main":[[{"node":"Find Draft PO for Supplier","type":"main","index":0}]]}}}