workflows/Process Images with VLM Run: Auto Segmentation & Detection with Drive-Telegram Sharing-11246/process_images_with_vlm_run_auto_segmentation_detection_with_drive-telegram_sharing.json
{"meta":{"instanceId":"0a7ae129a7d703150135f6cc24d0469f20ffd22b5ed59c23ee3e0608264e6d98","templateCredsSetupCompleted":true},"nodes":[{"id":"dbc1bb8b-e914-40d2-964b-879ddd6ad500","name":"Upload Image","type":"n8n-nodes-base.formTrigger","position":[-256,160],"webhookId":"82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d","parameters":{"options":{},"formTitle":"Upload your data to test RAG","formFields":{"values":[{"fieldType":"file","fieldLabel":"data","requiredField":true,"acceptFileTypes":".pdf, .csv"}]}},"typeVersion":2.2,"alwaysOutputData":true},{"id":"9c8b9c94-9960-4b5e-a625-33d48162c51f","name":"Send Image","type":"n8n-nodes-base.telegram","position":[1056,96],"webhookId":"e40c3e5a-90cf-4f16-bdd6-f3c50dc2684e","parameters":{"chatId":"1872183963","operation":"sendDocument","binaryData":true,"additionalFields":{}},"credentials":{"telegramApi":{"id":"yr6HR896cjhh3azp","name":"Telegram account"}},"typeVersion":1.2},{"id":"2388741c-fa37-43fa-81f0-29d5d72b2070","name":"Upload File","type":"n8n-nodes-base.googleDrive","position":[1056,-112],"parameters":{"name":"Patient Info","driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"options":{},"folderId":{"__rl":true,"mode":"list","value":"1S6baavqJn98MjUlbB6KtmARCWuWEekIZ","cachedResultUrl":"https://drive.google.com/drive/folders/1S6baavqJn98MjUlbB6KtmARCWuWEekIZ","cachedResultName":"test_data"}},"credentials":{"googleDriveOAuth2Api":{"id":"NZLNwCDDYmGxAK2K","name":"Google Drive account 6"}},"typeVersion":3},{"id":"f988e71c-ca66-48a8-87fa-7c581daadbe0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-432,-352],"parameters":{"color":5,"width":432,"height":640,"content":"# 🧠 Image Segmentation & Object Detection  \n\nThis workflow processes uploaded files using **VLM Run**, extracts signed URLs, downloads results, and distributes them across multiple services automatically.\n\n## 🔄 Workflow Overview\n\n1. User uploads a file via **Form Trigger**.\n2. File is sent to two VLM Run agents:\n   - Segmentation Agent\n   - Detection Agent\n3. VLM Run returns signed Google Cloud Storage URLs.\n4. Webhooks receive the completed outputs.\n5. Code Node extracts the **full signed URL** (no trimming).\n6. n8n downloads the image using the signed URL.\n7. Final output is shared to:\n   - **Google Drive**\n   - **Gmail**\n   - **Telegram**\n"},"typeVersion":1},{"id":"b2f74bcb-fef4-4c38-93b0-f409e5ef7d3b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,-352],"parameters":{"color":2,"width":496,"height":640,"content":"# 🟤 VLM Run Agents & Webhooks\n\n- **VLM Run (Segmentation)** and **VLM Run (Detection)** agents process uploaded images.\n- Each agent sends results asynchronously to their respective **Webhook nodes**.\n- Webhooks capture completed data from VLM Run, triggering the next steps.\n- This design allows simultaneous segmentation and detection processing.\n"},"typeVersion":1},{"id":"56a7a6b3-18d4-4483-85d1-012e3cfc101d","name":"Code","type":"n8n-nodes-base.code","position":[576,144],"parameters":{"jsCode":"return $input.all().map(item => {\n  const text = JSON.stringify(item.json);\n\n  // Capture full URL including the signed query params\n  const regex = /(https?:\\/\\/[^\\s\"]+)/;\n\n  const match = text.match(regex);\n\n  const fullSignedUrl = match ? match[0] : null;\n\n  return {\n    json: {\n      url: fullSignedUrl\n    }\n  };\n});\n"},"typeVersion":2},{"id":"47ac6119-3f00-4cd8-ad91-83240a4f0325","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[496,-224],"parameters":{"color":3,"width":464,"height":512,"content":"# 🟥 Code Node & Image Download\n\n- The **Code node** extracts the full signed URL from the webhook payload.\n- It uses regex to preserve the entire Google Cloud Storage signed URL, including query parameters.\n- The **Download Image** node uses this signed URL to download the processed image securely.\n- This ensures valid authentication and prevents access errors.\n- Keep regex and URL extraction up to date with any API changes.\n"},"typeVersion":1},{"id":"0de521a2-aa45-41a7-a4cc-82b52d981933","name":"VLM Run (Segmentation)","type":"@vlm-run/n8n-nodes-vlmrun.vlmRun","position":[64,-32],"parameters":{"operation":"executeAgent","agentPrompt":"=Segment all objects from the given input and generate segmented image. Gve only completed url of the generated segmented image for download.","agentCallbackUrl":"https://playground.vlm.run/webhook/image_segmentation"},"credentials":{"vlmRunApi":{"id":"WSiI4CO3xR3o7pNJ","name":"VLM Run account 11"}},"typeVersion":1},{"id":"81460d57-67ae-4450-a753-568a0d1687b2","name":"VLM Run (Detection)","type":"@vlm-run/n8n-nodes-vlmrun.vlmRun","position":[64,144],"parameters":{"operation":"executeAgent","agentPrompt":"=Detect all objects from the given input and generate tight bounding box image. Gve only completed url of the generated image for download.","agentCallbackUrl":"https://playground.vlm.run/webhook/image_detection"},"credentials":{"vlmRunApi":{"id":"WSiI4CO3xR3o7pNJ","name":"VLM Run account 11"}},"typeVersion":1},{"id":"f86918f3-8894-4328-ad64-71f084368a2b","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[784,144],"parameters":{"url":"={{ $json.url }}","options":{}},"typeVersion":4.2},{"id":"bbed95da-41b1-4934-9d4e-acfa19b24ac1","name":"Webhook for Segmented Image","type":"n8n-nodes-base.webhook","position":[320,-32],"webhookId":"00413fcd-e79f-4dc7-a15d-e0e21d4890ec","parameters":{"path":"image_segmentation","options":{},"httpMethod":"POST"},"typeVersion":2.1},{"id":"3c8e21a1-36d6-45d6-ad2a-9499b896e48a","name":"Webhook for Detected Image","type":"n8n-nodes-base.webhook","position":[320,144],"webhookId":"00413fcd-e79f-4dc7-a15d-e0e21d4890ec","parameters":{"path":"image_detection","options":{},"httpMethod":"POST"},"typeVersion":2.1},{"id":"1a2f8f21-b08c-4334-b05d-05f83d6b6ace","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1264,-224],"parameters":{"color":4,"width":368,"height":512,"content":"# 🟩 Upload to Drive & Send via Telegram\n\n- The downloaded image is uploaded to **Google Drive** under the specified folder.\n- **Google Drive OAuth2** credentials are required with upload permissions.\n- The same image is sent to a Telegram chat via the **Send Image** node.\n- Ensure Telegram Bot token and chat ID are correctly configured.\n- This enables automated multi-channel sharing of processed images.\n"},"typeVersion":1},{"id":"b3253a3f-490d-4a52-b610-6d9aca623411","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[960,-224],"parameters":{"color":4,"width":304,"height":512,"content":""},"typeVersion":1}],"pinData":{},"connections":{"Code":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Upload Image":{"main":[[{"node":"VLM Run (Segmentation)","type":"main","index":0},{"node":"VLM Run (Detection)","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Send Image","type":"main","index":0},{"node":"Upload File","type":"main","index":0}]]},"Webhook for Detected Image":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook for Segmented Image":{"main":[[{"node":"Code","type":"main","index":0}]]}}}