workflows/Extract Emails, Phones & Social Links from Websites with Apify and Google Sheets-10739/extract_emails_phones_social_links_from_websites_with_apify_and_google_sheets.json
{"id":"T0YssUytQOoqW3B2","meta":{"instanceId":"099623d391d35955909221ae8b3515abd31125e9bb13a2b9ad07d121476eba63","templateCredsSetupCompleted":true},"name":"Find Email and Phone of any website from Google sheets to Google sheets","tags":[],"nodes":[{"id":"35a5417a-ff07-4bed-b223-e40592fe94e4","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-96,624],"parameters":{},"typeVersion":1},{"id":"06d930a8-58f0-474c-a725-32f05c6a346d","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-800,512],"parameters":{"width":540,"height":1328,"content":"Try It Out!\n\nThis n8n template shows how to, based on a list of website, enrich a Google Spreadsheet with emails and phone numbers automatically using the [Apify Email & Phone Extractor](https://apify.com/anchor/email-phone-extractor) actor from [Anchor](https://apify.com/anchor). It will create a new sheet with the extracted contact details.\n\nYou can use it to build lead enrichment workflows, keep CRM records current, or prep outreach lists, all directly inside n8n.\n\n### Who is this for\n- Sales Teams: Surface contacts for target accounts fast.\n- Recruiters: Find contact details on company sites.\n- Growth Marketers: Clean and enrich prospect lists at scale.\n- Researchers: Map industries and orgs with real contacts.\n- CRM Builders: Auto-populate contact fields from the web.\n- Lead-Gen Agencies: Deliver verified contact data at volume.\n\n### How it works\n- The workflow starts with a list of website URLs or domains in Google Sheets (one per row).\n- The Apify node runs the Email & Phone Extractor to collect emails, phone numbers, and social links (e.g., Twitter, LinkedIn, Instagram) from those sites.\n- The results are written to a new Google Sheet with the found contacts and their source pages.\n\n### How to use\n\nIn Google Sheets:\n- Create a Google Sheet, rename the sheet websites, and add all the domains or URLs you want to scan (one per row).\n\n\nIn this Workflow:\n- Open “Set google sheet URL & original sheet name” and replace the example Google Sheet URL and the name of the source sheet (e.g., websites).\n\n\nIn the n8n credentials:\n- Connect your Google Sheets account with read and write privileges.\n- Connect your Apify account.\n\n\nIn Apify:\n- Sign up for this [Apify Actor](https://apify.com/anchor/email-phone-extractor)\n\n### Speed\nThe step \"Run actor on Apify\" can take a long time. It needs to scrape many pages on each website you provide. That's why. If you want to keep track of its progress, you can check the logs on Apify Run direclty !\n\n### Requirements\n- Apify account with access to Email & Phone Extractor.\n- A list of domains or URLs to process.\n\n### Need Help?\nOpen an issue directly on Apify! Avg answer in less than 24h\n\nHappy Contact Discovery"},"typeVersion":1},{"id":"9f796244-c705-4c86-b289-dcdc0a410255","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-192,816],"parameters":{"color":4,"width":448,"height":224,"content":"## Input Example\n```json\n[\n {\n   \"google_sheet_url\": \"https://docs.google.com/spreadsheets/d/1ffxxxxxxxxxxvI/\",\n   \"google_sheet_name\": \"profiles\"\n }\n]\n```"},"typeVersion":1},{"id":"26242c38-e9ef-4bc7-8018-6bbcaf1f6e74","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[864,800],"parameters":{"color":5,"width":1152,"height":224,"content":"## Output Example\n\n![google sheet output example](https://i.postimg.cc/BbS8jzKF/Screenshot-2025-11-11-at-22-31-12.png)"},"typeVersion":1},{"id":"209cc0dd-91c3-434f-ac6b-b02490829c7f","name":"Set google sheet URL & original sheet name","type":"n8n-nodes-base.set","position":[128,624],"parameters":{"options":{},"assignments":{"assignments":[{"id":"1cdf422f-6817-4666-a8f3-90a2939d3377","name":"google_sheet_url","type":"string","value":"xxxxxxxxxxxx"},{"id":"6a06b96f-0df8-4b3c-bd42-cb22127e7ac2","name":"google_sheet_name","type":"string","value":"websites"}]}},"typeVersion":3.4},{"id":"5b8add37-b502-4e63-a831-3d727bfa9536","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[320,880],"parameters":{"color":4,"width":400,"height":352,"content":"## Google Sheet INPUT Example\n\n![google sheet example](https://i.postimg.cc/hvzX8nff/Screenshot-2025-11-11-at-22-19-21.png)"},"typeVersion":1},{"id":"a1f44b43-db17-41bc-a41a-f9ea5be2209c","name":"wait for previous nodes to finish","type":"n8n-nodes-base.merge","position":[576,624],"parameters":{},"typeVersion":3.2},{"id":"3ae29830-16f8-4764-984c-5e64f50488a8","name":"format data for Apify INPUT type","type":"n8n-nodes-base.code","notes":"This node is deisgned to properly format the data before its feed to the APIFY Actor, which needs a specific formating as INPUT as you can check here https://apify.com/dev_fusion/linkedin-profile-scraper/input-schema","position":[800,624],"parameters":{"jsCode":"let input = {\n  maxRequests: 0,\n  sameDomain: true,\n  onlyEmails: false,\n  onlyOneEmailPerDomain: false,\n  maxDepth: 1,\n  pseudoUrls: [\".*\"],\n  proxyConfig: {\n    useApifyProxy: true\n  },\n  considerChildFrames: true\n}\n\nconst startUrls = []\nfor (const item of $('Get website URLs from first sheet').all()) {\n  const newItem = {}\n  newItem.url = item.json.url || item.json.website\n  startUrls.push(newItem)\n}\n\n\n\nreturn { \n  json: {\n    ...input,\n    startUrls\n  }\n}"},"typeVersion":2},{"id":"40ce81c8-7c0f-49c2-8c16-b9977e54a035","name":"Run Actor on Apify","type":"@apify/n8n-nodes-apify.apify","position":[1024,624],"parameters":{"actorId":{"__rl":true,"mode":"list","value":"bxrabKhLv1c3fLmoj","cachedResultUrl":"https://console.apify.com/actors/bxrabKhLv1c3fLmoj/input","cachedResultName":"Email ✉️  & Phone ☎️ Extractor (anchor/email-phone-extractor)"},"timeout":{},"customBody":"={{ $json }}","actorSource":"store"},"credentials":{"apifyApi":{"id":"waECNxTZr0ungVMJ","name":"Apify account"}},"typeVersion":1},{"id":"95ffc5c0-745b-41ca-a90c-5195cf1ffbea","name":"Get Results from Apify","type":"@apify/n8n-nodes-apify.apify","position":[1248,624],"parameters":{"offset":{},"resource":"Datasets","datasetId":"={{ $json.defaultDatasetId }}"},"credentials":{"apifyApi":{"id":"waECNxTZr0ungVMJ","name":"Apify account"}},"typeVersion":1},{"id":"f2c66877-0716-466c-871d-a4440eef1716","name":"Add emails, phones, socials... into the new Sheet","type":"n8n-nodes-base.googleSheets","position":[1472,624],"parameters":{"columns":{"value":{},"schema":[{"id":"full_name","type":"string","display":true,"removed":false,"required":false,"displayName":"full_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"first_name","type":"string","display":true,"removed":false,"required":false,"displayName":"first_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"last_name","type":"string","display":true,"removed":false,"required":false,"displayName":"last_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"headline","type":"string","display":true,"removed":false,"required":false,"displayName":"headline","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"country","type":"string","display":true,"removed":false,"required":false,"displayName":"country","defaultMatch":false,"canBeUsedToMatch":true},{"id":"city","type":"string","display":true,"removed":false,"required":false,"displayName":"city","defaultMatch":false,"canBeUsedToMatch":true},{"id":"profile_pic_url","type":"string","display":true,"removed":false,"required":false,"displayName":"profile_pic_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"follower_count","type":"string","display":true,"removed":false,"required":false,"displayName":"follower_count","defaultMatch":false,"canBeUsedToMatch":true},{"id":"public_identifier","type":"string","display":true,"removed":false,"required":false,"displayName":"public_identifier","defaultMatch":false,"canBeUsedToMatch":true},{"id":"open_to_work","type":"string","display":true,"removed":false,"required":false,"displayName":"open_to_work","defaultMatch":false,"canBeUsedToMatch":true},{"id":"show_verification_badge","type":"string","display":true,"removed":false,"required":false,"displayName":"show_verification_badge","defaultMatch":false,"canBeUsedToMatch":true},{"id":"skills","type":"string","display":true,"removed":false,"required":false,"displayName":"skills","defaultMatch":false,"canBeUsedToMatch":true},{"id":"certifications","type":"string","display":true,"removed":false,"required":false,"displayName":"certifications","defaultMatch":false,"canBeUsedToMatch":true},{"id":"experiences","type":"string","display":true,"removed":false,"required":false,"displayName":"experiences","defaultMatch":false,"canBeUsedToMatch":true},{"id":"education","type":"string","display":true,"removed":false,"required":false,"displayName":"education","defaultMatch":false,"canBeUsedToMatch":true},{"id":"background_cover_image_url","type":"string","display":true,"removed":false,"required":false,"displayName":"background_cover_image_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"languages","type":"string","display":true,"removed":false,"required":false,"displayName":"languages","defaultMatch":false,"canBeUsedToMatch":true},{"id":"personal_emails","type":"string","display":true,"removed":false,"required":false,"displayName":"personal_emails","defaultMatch":false,"canBeUsedToMatch":true},{"id":"personal_numbers","type":"string","display":true,"removed":false,"required":false,"displayName":"personal_numbers","defaultMatch":false,"canBeUsedToMatch":true},{"id":"company_name","type":"string","display":true,"removed":false,"required":false,"displayName":"company_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"company_industry","type":"string","display":true,"removed":false,"required":false,"displayName":"company_industry","defaultMatch":false,"canBeUsedToMatch":true},{"id":"company_website","type":"string","display":true,"removed":false,"required":false,"displayName":"company_website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"company_linkedin","type":"string","display":true,"removed":false,"required":false,"displayName":"company_linkedin","defaultMatch":false,"canBeUsedToMatch":true},{"id":"company_size","type":"string","display":true,"removed":false,"required":false,"displayName":"company_size","defaultMatch":false,"canBeUsedToMatch":true},{"id":"url","type":"string","display":true,"removed":false,"required":false,"displayName":"url","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"id","value":"={{ $('Create new sheet for founded emails and phones').first().json.sheetId }}"},"documentId":{"__rl":true,"mode":"url","value":"={{ $('Set google sheet URL & original sheet name').first().json.google_sheet_url }}"}},"credentials":{"googleSheetsOAuth2Api":{"id":"k9BZ2VvgTo6CWEEx","name":"Google Sheets account"}},"typeVersion":4.6},{"id":"a7bcfc5b-0131-4bfb-8b09-b8720c3639dd","name":"Create new sheet for founded emails and phones","type":"n8n-nodes-base.googleSheets","position":[352,528],"parameters":{"title":"=emails-phones-{{new Date().format('dd/mm-HH:mm')}}","options":{},"operation":"create","documentId":{"__rl":true,"mode":"url","value":"={{ $json.google_sheet_url }}"}},"credentials":{"googleSheetsOAuth2Api":{"id":"k9BZ2VvgTo6CWEEx","name":"Google Sheets account"}},"typeVersion":4.6},{"id":"883368eb-c5c8-435e-9b16-3a7e7877469a","name":"Get website URLs from first sheet","type":"n8n-nodes-base.googleSheets","position":[352,720],"parameters":{"options":{},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.google_sheet_name }}"},"documentId":{"__rl":true,"mode":"url","value":"={{ $json.google_sheet_url }}"}},"credentials":{"googleSheetsOAuth2Api":{"id":"k9BZ2VvgTo6CWEEx","name":"Google Sheets account"}},"typeVersion":4.6},{"id":"f0f65408-75a6-4c6e-b542-bcd738cd3abf","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[608,272],"parameters":{"color":4,"width":512,"height":288,"content":"## Customizable parameters\nIn the code block \"format data for Apify\" there are a few parameters you can play with.\n\n- “maxRequests” :  Total pages to crawl across all links. 0 for no limit\n- “sameDomain” :  Only follow links within the same domain.\n- “onlyEmails” :  Extract only emails, skip phones and socials.\n- “onlyOneEmailPerDomain” :  Stop after finding one email per site. Helps the Actor getting faster\n- “maxDepth” :  Maximum link depth from start URLs.\n- “maxRequestsPerStartUrl” :  Limit links crawled per start URL.\n- “pseudoUrls” :  Regex filters to include matching links.\n"},"typeVersion":1}],"active":false,"pinData":{"Set google sheet URL & original sheet name":[{"json":{"google_sheet_url":"https://docs.google.com/spreadsheets/d/1f3EkHfym8yYN0QuxIwOIsib85TvljN6DpETxLxij5vI/","google_sheet_name":"websites"}}]},"settings":{"executionOrder":"v1"},"versionId":"0cf8991c-3f7e-49c2-ba1c-9410544a3709","connections":{"Run Actor on Apify":{"main":[[{"node":"Get Results from Apify","type":"main","index":0}]]},"Get Results from Apify":{"main":[[{"node":"Add emails, phones, socials... into the new Sheet","type":"main","index":0}]]},"format data for Apify INPUT type":{"main":[[{"node":"Run Actor on Apify","type":"main","index":0}]]},"Get website URLs from first sheet":{"main":[[{"node":"wait for previous nodes to finish","type":"main","index":1}]]},"wait for previous nodes to finish":{"main":[[{"node":"format data for Apify INPUT type","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set google sheet URL & original sheet name","type":"main","index":0}]]},"Set google sheet URL & original sheet name":{"main":[[{"node":"Create new sheet for founded emails and phones","type":"main","index":0},{"node":"Get website URLs from first sheet","type":"main","index":0}]]},"Create new sheet for founded emails and phones":{"main":[[{"node":"wait for previous nodes to finish","type":"main","index":0}]]}}}